[submodule "wanos/tetWF2"]
	path = wanos/tetWF2
	url = https://github.com/Buld1n/tetWF2.git
[submodule "wanos/testWF"]
	path = wanos/testWF
	url = https://github.com/Buld1n/testWF.git
[submodule "wanos/CommonTestWf"]
	path = wanos/CommonTestWf
	url = https://github.com/Buld1n/CommonTestWf.git
